.Weather {
  margin: 100px auto;
  margin-bottom: 5px;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/007/609/original/bgfhdfgdhf.jpg?1619016133");
  display: block;
  margin-top: 10px;
  padding: 50px;
  border-radius: 20px;
  box-shadow: 0px 10px 13px -7px #000000,
    inset 5px 5px 15px 5px rgba(213, 199, 198, 0.04);
}

.Weather h1 {
  font-family: "Bodoni Moda", serif;
  color: white;
  display: block;
  font-size: 50px;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.Weather li {
  font-family: "Bodoni Moda", serif;
  list-style: none;
  color: white;
  text-align: center;
  display: block;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

.Weather ul {
  padding: 0;
  font-size: 30px;
}

.Weather .overview {
  margin-bottom: 20px;
}

.Weather form {
  margin-bottom: 20px;
  border: none;
}

.Weather .temperature {
  color: black;
  font-size: 64px;
  font-weight: 400;
}

.WeatherInfo .col-4 {
  margin-top: 25px;
  font-size: 30px;
}
